.label-primary, .btn-primary {
    background-color: #7f3c54!important;
}

.border {
    border: 0px solid #dad9d9!important;
}

label.ae.fa.label {
    border: 1px solid #dad9d9!important;
}

.btn-primary {
    border-color: #d4d4d4!important;
}

.light {
    background-color: #e6dcdc;
}

.bg {
    background-color: #bb7890;
}

ul.nav.nav-tabs>li>a {
    color: #7f3c54;
}

#des0 {
	background-color: #7f3c54;
}