.btn-primary,.label-primary{background-color:#9e4a77!important}.fr.borderg,.fr.borderg a{border-radius:3px!important;margin-right:0!important;background-color:#9e4a77!important;border:#000 solid 0;color:#fff}.bg{background-color:#a06484}.light{background-color:#d0d0d0}

.fr.borderg,.fr.borderg a{font-size:10px!important;padding:0 5px!important;position:relative;color:#ffffff}
.fr.borderg{border:0;margin-top:0;height:0}
div#l1 input#u1,div#l3 button{width:99%;margin-left:1px}
div#l2 button,div#l3 button{border:1px solid #ccc!important;border-radius:24px!important;height:27px;padding:0 5px}
div#l1 input#u1{border-radius:15px;border:1px solid #e1e0e0;margin-top:3px;text-align:center}
div#l2 input#pass1,div#l2 input#u2,div#l3 input#pass2,div#l3 input#u3{width:49%;padding:0!important;float:right;margin:2px 5px 2px 0}
div#l2 input#u2,div#l3 input#u3{margin-left:-6px;border-radius:15px;border:1px solid #e1e0e0;text-align:center}
div#l2 input#pass1,div#l3 input#pass2{border-radius:15px;border:1px solid #e1e0e0;text-align:center}
div#l2,div#l3{padding:2px!important}div#l1{margin:0 1px -18px;padding:0!important}
div#l1,div#l2,div#l3{border-bottom:2px solid;margin-bottom:2px;border-top:2px solid;margin-top:0;border-color:#bababa;border-radius:15px;height:69px}
div#l1 button{border:1px solid #ccc!important;border-radius:24px!important;width:99%;height:27px;padding:0 5px}
div#l2 button{width:70%}ul.nav.nav-tabs>li>a{border:none;text-align:center;border-radius:3px;display:initial;width:80%;float:left;padding:0!important}
ul.nav.nav-tabs>li.active>a{border:none;border-radius:3px}
ul.nav.nav-tabs>li{width:32%;margin:0 5px 0 0}
ul.nav.nav-tabs>li>.fa-user-plus:before,ul.nav.nav-tabs>li>.fa-user:before,ul.nav.nav-tabs>li>.fa-user:before{float:right;margin-right:-26%;padding:0 2px 1px;border-radius:3px;width:23px;text-align:center}
.nav>li>a:focus,.nav>li>a:hover{color:#9abff9}
ul.nav.nav-tabs{margin-top:2px;float:right;width:100%;padding:3px 1px}
a.label.label-primary.fl img.fl,button.btn.fr.btn-success.fa.fa-refresh,div#l2 br,div#l3 br{display:none}

div#tlogins ::-webkit-scrollbar {
    width: 5px;
    height: 10px
}

div#tlogins ::-webkit-scrollbar-button {
    width: 5px;
    height: 5px
}

div#tlogins ::-webkit-scrollbar-thumb {
    background: 0 0;
    border: 71px #fff;
    border-radius: 31px;
    background-color: #9e4a77;
}

.border,div#tlogins {
    box-shadow: inset 1px 1px 1px 0 #0084bb2e,0 0 2px #0084bb61
}

div#tlogins ::-webkit-scrollbar-thumb:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track {
    background: #fff;
    border: 65px #fff;
    border-radius: 34px
}

div#tlogins ::-webkit-scrollbar-track:hover {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-corner {
    background: 0 0
}

div#tlogins .fl.mini.u-msg {
    margin-top: 3px!important;
    border-radius: 3px!important
}
